<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <section name="joyride" type="Joyride.Specflow.Configuration.JoyrideSectionHandler, Joyride.Specflow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config --><unitTestProvider name="NUnit" />
    <stepAssemblies>
      <stepAssembly assembly="Joyride.Specflow" />
    </stepAssemblies>
  </specFlow>
  <joyride>
    <log>
      <add name="relativeLogPath" value="\..\..\Logs\" />
      <add name="relativeScreenshotPath" value="\..\..\Screenshots\" />
    </log>
    <capabilities>
      <add name="autoLaunch" value="false" type="System.Boolean" />
      <add name="fullReset" value="false" type="System.Boolean" />
      <android>
        <add name="platformName" value="Android" />
        <add name="appPackage" value="io.appium.android.apis" />
        <add name="appActivity" value="io.appium.android.apis.ApiDemos" />
        <devices>
          <device name="nexus5">
            <!-- Add your real device id to Test-->
            <add name="deviceName" value="08ea5482d00b35e7" />
          </device>
          <device name="nexus5_emulator">
            <add name="appActivity" value="io.appium.android.apis" />
            <add name="appWaitActivity" value="io.appium.android.apis.ApiDemos" />
          </device>
        </devices>
      </android>
    </capabilities>
    <servers>
      <add name="dev" value="http://127.0.0.1:4723/wd/hub" />
      <add name="ci" value="http://127.0.0.1:4723/wd/hub" />
    </servers>

    <run>
      <add name="server" value="dev" />        <!-- change me to one of your available servers -->
      <add name="platform" value="android" />  <!-- either 'android' or 'ios' -->
      <add name="device" value="nexus5" />     <!-- change to target device's name -->
    </run>
  
  </joyride>
</configuration>